<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
  <head>
    <title>Eugene Running Paths {% block title %} {% endblock %}</title>
    {% block javascript %} {% endblock %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/static/css/erp.css">
    {% block css %} {% endblock %}
    <link rel="icon" type="image/png" href="{{ STATIC_URL }}/static/images/tree.gif">

  </head>
  <body>

    {% block body %}
    <div id="container">
      <div class="top">
        <img src="{{ STATIC_URL }}/static/images/tree.gif" alt="Tree" id="icon">
        <H1><a href="/">Eugene Running Paths</a></H1>
        <p> The premier website for running paths in the Eugene/Springfield Oregon area. </p>
      </div>
      <div id="nav" class="navigation">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about/">About</a></li>
          <li><a href="/paths/">Paths</a></li>
        </ul>
      </div>
      <div id="content">
      {% block content %}
      {% endblock %}
      </div>
      <div id="footer">
        <p>Created by Jerry and Wyatt Davis.
        <p>Website design by <a href="http://www.wyattjoe.com">Wyatt Davis</a>.
      </div>
    </div>
    {% endblock %}

  </body>
</html>
